* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajuda a manter o layout consistente */
}

.header {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 20%);
    margin: 0 auto;
    border: 2px solid hsl(0, 0%, 0%);
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.cabecalho {
    margin-top: 20px;
}

.paginas {
    margin: 10px auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    font-size: 20px;
}

.paginas a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.paginas a:hover {
    color: hsl(30, 100%, 50%);
}

.rede-social {
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
    list-style-type: none;
}
.rede-social a {
    display: block;
}

.instagram img, .x img, .youtube img {
    width: 25px;
    height: auto;
    filter: invert(100%);
    transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.instagram img:hover, .x img:hover, .youtube img:hover {
    filter: invert(50%) sepia(100%) saturate(400%) hue-rotate(-30deg) brightness(100%);
    transform: scale(1.1); /* Diminui o tamanho do efeito de escala */
}
@media only screen and (max-width: 780px){
    .paginas{
        margin: 20px auto;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}