* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 30px;
    margin: 0 auto;  
    overflow-x: hidden; /* Impede rolagem horizontal */
    
}