.sobre h1{
    margin: 10px auto;
    text-align: center;
    font-size: 50px;
}
.sobre h2{
    margin: 10px auto;
    text-align: center;
    font-size: 35px;
}
.sobre h3{
    margin: 10px auto;
    text-align: center;
    font-size: 25px;
}
.sobre p{
    margin: 10px auto;
    width: 80%;
    font-size: 25px;
    
}
.sobre li{
    margin: 0 auto;
    width: 80%;
    font-size: 20px;
}