* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 100%);
    line-height: 30px;
    margin: 0 auto;
    overflow-x: hidden; /* Impede rolagem horizontal */
}

.sobre {
    background-image: url("../Imagens/teste.png");
    background-size: cover;
    background-position: center;
    margin: 10px auto;
    padding: 50px;
    width: 80%;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}

.sobre h2 {
    font-size: 40px;
    margin: 15px;
}

.sobre p {
    background-color: hsl(0, 0%, 50%, 60%);
    font-size: 20px;
    padding: 15px;
}

/* Últimos post links e... *******************************************/

.float {
    border: 2px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 1px;
}

.ultimo-post {
    margin: 0 auto;
    border: 2px;
    width: 100%;
    height: 450px;
    padding: 10px;
}

.destaque {
    border: 2px;
    margin: 0 auto;
    width: 80%;
    height: 95%;
}

.destaque h2 {
    text-align: center;
}

.posts {
    padding: 10px;
    display: flex;
    gap: 5px;
    height: 90%;
}

.D1 {
    background-image: url("../Imagens/teste.png");
    background-size: cover;
    background-position: center;
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    list-style-type: none;
    transition: transform 0.1s ease-in-out;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.D1:hover {
    border-radius: 10px;
    transform: scale(1.03);
    box-shadow: -5px 0px 20px hsl(220, 100%, 80%, 80%);
}

.D1 li {
    height: 100%;
}

.D1 a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.D1a1 {
    background-color: hsl(0, 0%, 50%, 90%);
    color: white;
    font-size: 25px;
    width: 100%;
    height: 20%;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.D1a1:hover {
    background-color: hsl(30, 70%, 50%, 98%);
}

.D2 {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    list-style-type: none;
}

.D2 li {
    border: 2px solid;
    border-radius: 10px;
    height: 90%;
}

.D2 a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: blanchedalmond;
    position: relative;
}

.D2a {
    background-image: url("../Imagens/teste.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease-in-out;
}

.D2a:hover {
    border-radius: 10px;
    transform: scale(1.03);
    box-shadow: 5px -5px 10px hsl(220, 100%, 80%, 80%);
}

.D2a2 {
    background-color: hsl(0, 0%, 50%, 90%);
    color: white;
    font-size: 25px;
    width: 100%;
    height: 20%;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.D2a2:hover {
    background-color: hsl(30, 70%, 50%, 98%);
}

.D2b {
    background-image: url("../Imagens/teste.png");
    background-size: cover;
    background-position: center;
    transition: transform 0.1s ease-in-out;
}

.D2b:hover {
    border-radius: 10px;
    transform: scale(1.03);
    box-shadow: 5px 5px 10px hsl(220, 100%, 80%, 80%);
}

.D2b2 {
    background-color: hsl(0, 0%, 50%, 90%);
    color: white;
    font-size: 25px;
    width: 100%;
    height: 20%;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.D2b2:hover {
    background-color: hsl(30, 70%, 50%, 98%);
}

/* Fim Dos Últimos posts *******************************************/

/* Links *******************************************/
.links {
    border: 1px solid;
    margin: 10px;
    width: 15%;
    height: 40%;
    list-style-type: none;
}

.links li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.youtube img, .x img {
    width: 50px;
    height: auto;
}

/* Fim dos links *******************************************/

.barra-lateral {
    border: 2px solid;
    margin: 5px 5px 5px 40px;
    width: 25%;
    height: 600px;
}

/* Fim dos últimos post links e... *******************************************/

/* Conteúdos do site ***********************************************/
.conteudo{
    border: 2px;
    margin: 10px auto;
    width: 100%;
    display: flex;
}
.outro-post{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.outro-post h2{
    margin: 0 auto;
    text-align: center;
}
.outro-post ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.outro-post li{
    background-color: hsl(0, 0%, 95%);
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.outro-post li:hover{
    background-color: hsl(0, 0%, 80%);
}
.outro-post li h3{
    font-size: 25px;
    width: 100%;
    height: auto;
}
.outro-post li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

/* Fim dos conteúdos ***********************************************/

/* Roda pé ********************************************/
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;

    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
}

@media only screen and (max-width: 1200px) {
    .barra-lateral {
        display: none;
    }

    .ultimo-post {
        margin: 5px 10px 5px 100px;
    }
}

@media only screen and (max-width: 710px) {
    body {
        background-color: hsl(0, 0%, 100%);
        overflow-x: hidden; /* Impede rolagem horizontal */
    }

    .sobre {
        width: 100%;
        padding: 20px 25px;
        margin: 20px auto;
    }

    .sobre h2 {
        font-size: 40px;
        margin: 5px;
    }

    .sobre p {
        font-size: 16px;
        padding: 5px;
    }

    .float {
        margin: 0 auto;
    }

    .ultimo-post {
        flex-direction: column;
        margin: 0 auto;
        padding: 2px;
        width: 100%;
        height: 600px;
        border: 2px;
    }

    .posts {
        flex-direction: column;
    }

    .destaque {
        border: 2px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .D1 {
        width: 100%;
        height: 80%;
    }

    .D2 {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 50%;
    }

    .D2 li {
        width: 50%;
    }

    /* Links */
    .links {
        display: none;
    }

    .D2b2 {
        font-size: 18px;
    }
}
