@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 100%);
    line-height: 30px;
    margin: 0 auto;
    overflow-x: hidden; /* Impede rolagem horizontal */
    min-height: 100vh;
}

.ultimo_post{
    background-color: hsl(0, 40%, 97%);
    margin: 40px 450px;
    padding: 40px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px ;
}
.post a{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}
.post li{
    margin-top: 200px;
    width: 150px;
    height: auto;
    background-color: hsl(0, 0%, 90%);
    border: 1px solid;
    border-radius: 10px; 
    list-style: none; 
}
.post li:hover{
    background-color: hsl(0, 0%, 70%);
    transition: 0.5s;
    border-radius: 10px; 
}
.post h3{
    font-size: 40px;
    text-align: left;
    line-height: 1.2;
}
.post h3:hover{
    color: hsl(0, 0%, 50%);
    transition: 0.2s;
}
.ler_mais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 20px;
}
.ultimo_post img{
    background-color: hsl(0, 0%, 40%, 0.5);
    width: 400px;
    height: auto;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 20px;
}


.teste{
    background-color: hsl(220, 100%, 80%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    margin: 50px 0;
    padding: 50px;
}
.teste h2{
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.recenter{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.post-recen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.post-recen div{
    border: 1px solid;
    width: 250px;	
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 710px) {
    body {
        background-color: hsl(0, 0%, 100%);
        overflow-x: hidden; /* Impede rolagem horizontal */
    }
    .ultimo_post{
        background-color: hsl(0, 40%, 90%);
        margin: 50px 0;
        padding: 20px 25px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post h3{
        font-size: 20px;
        text-align: left;
        line-height: 1.2;
    }
    .post li{
        margin-top: 50px;
        width: 75px;
    }
    .ler_mais{
        font-size: 10px;
    }
    .ultimo_post img{
        background-color: hsl(0, 0%, 40%, 0.5);
        width: 150px;
        height: auto;
        border: 1px solid hsl(0, 0%, 50%);
        border-radius: 20px;
    }
    .post-recen{
        display: flex;
        flex-direction: inherit;
        gap: 50px;
    }
    .post-recen div{
        width: 400px;
        height: 200px;
    }
}
