* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 100%);
    line-height: 30px;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden; /* Impede rolagem horizontal */
}
/*.pesquisa{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 80%);
    border-radius: 30px;
    box-shadow: 0 4px 10px hsl(0, 0%, 0%, 80%);
    margin: 50px auto;
    padding: 5px 10px;
    width: 50%;
}
#icone-pesquisa{
    cursor: pointer;
    transition: filter 0.1s ease;
    width: auto;
    height: auto;
}
#icone-pesquisa:active {
    filter: invert(50%) sepia(100%) saturate(800%) hue-rotate(50deg) brightness(100%); 
}
#buscar{
    width: 50%;
    padding: 0 10px ;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
}
#buscar::placeholder {
    color: hsl(0, 0%, 60%);
}*/


/*menu*/
.menu{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.investimentos, .marketing, .tecnologia{
    margin: 0 auto;
    padding: 10px 20px;
    width: 60%;
    border: 2px solid;
    border-radius: 20px;
}
.investimentos li a, .marketing li a, .tecnologia li a{
    text-decoration: none;
    color: hsl(0, 0%, 40%);
}
.investimentos li a:hover, .marketing li a:hover, .tecnologia li a:hover{
    color: hsl(30, 100%, 50%);
    font-size: 18px;
}
.investimentos{
    background-color: hsl(200, 100%, 50%, 30%);
}
.marketing{
    background-color: hsl(330, 100%, 50%, 30%);
}
.espaco{
    min-height: 40vh;
}
@media only screen and (max-width: 700px){
    .pesquisa{
        width: 80%;
    }
}