#lastUpdated {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
    border: 2px;
}
@media only screen and (max-width: 900px){
    #lastUpdated{
        width: 90%;
    }
}
